@media (resolution: phone) {
}

@media (resolution: tablet) {
}

@media (resolution: desktop) {
  .simulation > div {
    background: black;
    display: block;
    width: 100%;
    height: 100%;

    .header {
      background: green;
      height: 2rem;
      display: flex;
      gap: 2rem;

      .header-element {
        background: red;
        width: 100%;
        height: 100%;
      }
    }

    .body-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      > .body {
        margin-top: -2rem;
        padding: 1rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        background: blue;
        width: 80%;
        height: 80%;
        justify-content: space-between;
        gap: 1rem;

        .card-row {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 40%;
          justify-content: space-between;
          gap: 1rem;

          .card {
            width: 100%;
            height: 100%;

            .header {
              background: purple;
            }
            .card-body {
              background: yellow;
              height: 60%;
            }
          }
        }
      }
      .hidden {
        display: hidden;
      }
    }
  }
}

.simulation > div {
  background: black;
  display: block;
  width: 100%;
  height: 100%;

  .header {
    background: green;
    height: 2rem;
    display: flex;
    gap: 2rem;

    .header-element {
      background: red;
      width: 100%;
      height: 100%;
    }
  }

  .body-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    > .body {
      margin-top: -2rem;
      padding: 1rem 1rem 0 1rem;
      display: flex;
      flex-direction: column;
      background: blue;
      width: 80%;
      height: 80%;
      justify-content: space-between;
      gap: 1rem;

      .card-row {
        display: flex;
        width: 100%;
        height: 40%;
        justify-content: space-between;
        gap: 1rem;

        .card {
          width: 100%;
          height: 100%;

          .header {
            background: purple;
          }
          .card-body {
            background: yellow;
            height: 60%;
          }
        }
      }
    }
    .hidden {
      display: hidden;
    }
  }
}
