<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/app.css" />
    <script>
      const simulationEndpoint = {{ url_for("simulation")|tojson }}
    </script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/old-app.js"></script>
    <title>Web Game of Life</title>
  </head>
  <body>
    <label>
      Matrix Rows:
      <input type="text" id="matrixRows" minlength="1" maxlength="3" />
    </label>
    <label>
      Matrix Columnns:
      <input type="text" id="matrixColumns" minlength="1" maxlength="3" />
    </label>
    <label>
      Sequence Length:
      <input type="text" id="sequenceLength" minlength="1" maxlength="3" />
    </label>

    <button id="printButton" type="button">Print</button>
    <button id="clearButton" type="button">Clear</button>

    <div id="simulation" class="simulation">{% include "simulation.html" %}</div>
  </body>
</html>
