<!doctype html>
<html lang="en-US">

	<head>
		<meta charset="UTF-8">

		<title>Javascript practice - Home</title>
		<link rel="stylesheet" href="static/styles.css">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="static/app.js"></script>
		<script>
			const simDataEndpoint = {{ url_for("simdata")|tojson }}
		</script>
	</head>

	<body>
		<div class="container">
			<div id="header">Header</div>
			<div class="body">
				<div class="sub-container control-panel">
					<div class="button-container">
					<button id="startButton" class="button">Start</button>
					<button id="stopButton" class="button">Stop</button>
					<button id="newButton" class="button">New</button>
					<button id="selectButton" class="button">Select</button>
					<button id="drawButton" class="button">Draw</button>
					</div>
					<div class="label-container">
						<p id="simulationType" class="data-label">Type</p>
						<p id="generation" class="data-label">Gen</p>
						<p id="population" class="data-label">Pop</p>
					</div>
				</div>
				<div class="sub-container simulation-container">
					<div id="simulationField"></div>
				</div>
			</div>
		</div>

	</body>
	
</html>