<!doctype html>
<html lang="en-US">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Conway's Game of Life</title>
		<link rel="stylesheet" href="static/styles.css">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	</head>

	<body>
		<div class="mainContainer">
			<div class="mainHeader" id="mainHeader">Conway's Game of Life</div>
			<div class="mainBody">
				<div class="controlPanel">
					<div class="buttonContainer" id="buttonContainer">
						<button class="button startButton" id="startButton">Start</button>
						<button class="button stopButton" id="stopButton">Stop</button>
						<button class="button" id="newButton">New</button>
						<button class="button" id="selectButton">Select</button>
						<button class="button" id="drawButton">Draw</button>
							<div class="typeContainer" id="typeContainer">
								<div class="typeSpacer">
								</div><!--type-spacer is left empty.-->
								<button class="typeButton" id="type1">Random</button>
								<button class="typeButton" id="type2">Blinker</button>
								<button class="typeButton" id="type3">Glider</button>
								<button class="typeButton" id="type4">Glider Gun</button>
							</div>
						</div>
						<div class="labelContainer">
							<p class="simulationType" id="simulationType">Type</p>
							<p class="generation" id="generation">Gen: 0</p>
							<p class="population" id="population">Pop: 0</p>
						</div>
				</div>
				<div class="simulationWindow" id="simulationWindow">
					<div class="gridFrame" id="gridFrame">
						<div class="grid" id="grid"></div>
						<!--grid is the div element we append the child
						cell elements to during the simulation.-->
					</div>
				</div>
			</div>
		</div>


		<dialog class="menu" id="selectMenu">
			<div class="selectMenuHeader" id="selectMenuHeader">
				Select
			</div>
			<div class="selectMenuBody" id="selectMenuBody">
			</div>
		</dialog>


		<script src="static/scripts/main.js"></script>

	</body>
	
</html>