<div>
  <div class="header">
    <div class="header-element home">Home</div>
    <div class="header-element index">Index</div>
    <div class="header-element store">store</div>
    <div class="header-element profile">profile</div>
  </div>
  <div class="body-wrapper">
    <div class="body">
      <div class="card-row">
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
      </div>
      <div class="card-row">
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
      </div>
      <div class="card-row">
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
      </div>
      <div class="card-row">
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
      </div>
      <div class="card-row">
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
        <div class="card">
          <div class="header">header</div>
          <div class="card-body">body</div>
        </div>
      </div>
    </div>
  </div>
</div>
